.card-header.panera {
	background-color: #b35d21;
	border-color: #b35d21;
}
.btn-primary.panera {
	background-color: #b35d21;
    border-color: #b35d21;
    float: right;
    margin-left: 10px;
}
.bg-light {
    float: right;
}
h4{
    color: white;
}
