<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>                 
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tipo Entrada/Salida :</label>
                        <select id="cmbTipo Entrada/Salida" name="cmbTipo Entrada/Salida" class="form-control">
                                <option>Tipo 1</option>
                                <option>Tipo 2</option>
                        </select>     
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tipo :</label>
                        <select id="cmbTipo" name="cmbTipo" class="form-control">
                                <option>Tipo 1</option>
                                <option>Tipo 2</option>
                        </select> 
                    </div>            
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nro de Pedido :</label>
                            <input type="text" class="form-control"	id="Nro de Pedido" name="Nro de Pedido" placeholder="Nro de Pedido" maxlength="50" />
                    </div>    
                </div>                    
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Observación :</label>
                            <input type="text" class="form-control"	id="Observación" name="Observación" placeholder="Observación" maxlength="50" />
                        </div>
                    </div>
                    </div>
                    <br /> 
                <div class="card">
                    <div class="card-header panera">
                        <h4>Registro Intermedio Entrada / Salida Detalle<a href="#" class="btn bg-light" data-toggle="modal" data-target="#myModal">Agregar</a></h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Intermedio</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>001</td>
                                    <td>01</td>
                                    <td>1500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                  </div>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
          
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Detalle</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
            
                        <!-- Modal body -->
                        <div class="modal-body">
                              
                                        
                                            <div class="form-group">
                                                <label>Intermedio</label>
                                                <select id="cmbtipocati" name="cmbtipocati" class="form-control">
                                                        <option>Tipo 1</option>
                                                        <option>Tipo 2</option>
                                                </select>    
                                            </div>
                                        
                                        
                                                <div class="form-group">
                                                    <label>Cantidad :</label>
                                                    <input type="number" class="form-control"	id="cant" name="cant" placeholder="Cantidad" maxlength="50" /> 
                                                </div>            
                                        
                                        
                                                <div class="form-group">
                                                    <label>Precio :</label>
                                                    <input type="number" class="form-control"	id="precio" name="precio" placeholder="Precio" maxlength="50" /> 
                                                </div>    
                        </div>
            
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
            
                    </div>
                </div>
            </div>
      
            <div class="row">
                <div class="col-sm-12">
                    <div class="float-right">
                    <button type="button" class="btn btn-primary panera">Registrar</button>&nbsp;
                    <button type="button" class="btn btn-secondary " (click)="cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>