<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>            
            <div class="row">
                <div class="col-lg-12">
                    <span>Administracion Usuario</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Perfil :</label>
                            <select id="cmbPerfil" name="cmbPerfil" class="form-control">
                                <option>Perfil</option>
                                <option>Perfil</option>
                            </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Usuario :</label>
                        <input type="text" class="form-control"	id="usuario" name="usuario" placeholder="Usuario" maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Nombre :</label>
                            <input type="text" class="form-control"	id="nombre" name="nombre" placeholder="Nombre" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Apellido :</label>
                            <input type="text" class="form-control"	id="apellido" name="apellido" placeholder="Apellido" maxlength="50" />
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4 align-items-right">
                    <button type="button" class="btn btn-primary panera">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarAdmusu()">Nuevo</button>
                </div>
            </div>
            <br />
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Gelatos</td>
                            <td>654789</td>
                            <td>RUC</td>
                            <td>Activo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>