<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>                 
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tipo de Categoría :</label>
                        <select id="cmbTipo de Categoría" name="cmbTipo de Categoría" class="form-control">
                                <option>Tipo 1</option>
                                <option>Tipo 2</option>
                        </select>     
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Categoría :</label>
                        <select id="cmbCategoría" name="cmbCategoría" class="form-control">
                                <option>Proveedor 1</option>
                                <option>Proveedor 2</option>
                        </select> 
                    </div>            
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Familia :</label>
                        <select id="cmbFamilia" name="cmbFamilia" class="form-control">
                                <option>Condicion de Pago 1</option>
                                <option>Condicion de Pago 2</option>
                        </select> 
                    </div>    
                </div>                    
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>SubFamilia :</label>
                        <select id="cmbSubFamilia" name="cmbSubFamilia" class="form-control">
                                <option>Condicion de Pago 1</option>
                                <option>Condicion de Pago 2</option>
                        </select> 
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nombre :</label>
                            <input type="text" class="form-control"	id="Nombre" name="Nombre" placeholder="Nombre" maxlength="50" />
                        </div>            
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Descripción:</label>
                            <input type="text" class="form-control"	id="Descripción" name="Descripción" placeholder="Descripción" maxlength="50" />
                        </div>    
                    </div>                    
                </div>
                <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Unidad Medida :</label>
                        <select id="cmbUnidad Medida" name="cmbUnidad Medida" class="form-control">
                                <option>Medida 1</option>
                                <option>Medida 2</option>
                        </select> 
                            </div>
                        </div>             
                    </div>
                    <br /> 
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
          
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Detalle</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
            
                        <!-- Modal body -->
                        <div class="modal-body">
                              
                                        
                                            <div class="form-group">
                                                <label>Tipo Categoria insumo:</label>
                                                <select id="cmbtipocati" name="cmbtipocati" class="form-control">
                                                        <option>Tipo 1</option>
                                                        <option>Tipo 2</option>
                                                </select>    
                                            </div>
                                        
                                        
                                                <div class="form-group">
                                                    <label>Categoria insumo :</label>
                                                    <select id="cmbtipocati" name="cmbtipocati" class="form-control">
                                                            <option>Categoria 1</option>
                                                            <option>Categoria 2</option>
                                                    </select>     
                                                </div>            
                                        
                                        
                                                <div class="form-group">
                                                    <label>Marca :</label>
                                                    <select id="cmbtipocati" name="cmbtipocati" class="form-control">
                                                            <option>Marca 1</option>
                                                            <option>Marca 2</option>
                                                    </select>     
                                                </div>            
                                        
                                        
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Precio :</label>
                                                        <input type="number" class="form-control"	id="precio" name="precio" placeholder="Precio" maxlength="50" />
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label>Cantidad :</label>
                                                        <input type="number" class="form-control"	id="cantidad" name="cantidad" placeholder="Cantidad" maxlength="50" />
                                                    </div>            
                                                </div>              
                                    
                        </div>
            
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
            
                    </div>
                </div>
            </div>
      
            <div class="row">
                <div class="col-sm-12">
                    <div class="float-right">
                    <button type="button" class="btn btn-primary panera">Registrar</button>&nbsp;
                    <button type="button" class="btn btn-secondary " (click)="cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>