<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>            
            <div class="row">
                <div class="col-lg-12">
                    <span>Insumo</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nombre :</label>
                        <input type="text" class="form-control"	id="nombre" name="nombre" placeholder="Nombre" maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Estado :</label>
                        <select id="cmbEstado" name="cmbEstado" class="form-control">
                            <option>Gelatos</option>
                            <option>Gelatos</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4 align-items-right">
                    <button type="button" class="btn btn-primary panera">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarInsumo()">Nuevo</button>
                </div>
            </div>
            <br />
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>1</td>
                            <td>10/10/19</td>
                            <td>Activo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>