<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>            
            <div class="row">
                <div class="col-lg-12">
                    <span>Almacen Producto</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Tipo Entrada/Salida :</label>
                            <select id="cmbTipoentsal" name="cmbTipoentsal" class="form-control">
                                <option>Gelatos</option>
                                <option>Gelatos</option>
                            </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tipo :</label>
                        <select id="cmbTipo" name="cmbTipo  " class="form-control">
                            <option>Tipo 1</option>
                            <option>Tipo 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Nro Serie Compra :</label>
                            <input type="text" class="form-control"	id="nroseriec" name="nroseriec" placeholder="Nro Serie Compra" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>SubFamilia :</label>
                            <select id="cmbSubFamilia" name="cmbSubFamilia" class="form-control">
                                    <option>RUC</option>
                                    <option>DNI</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                                <label>Nombre :</label>
                                <input type="text" class="form-control"	id="Nombre" name="Nombre" placeholder="Nombre" maxlength="50" />
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4 align-items-right">
                    <button type="button" class="btn btn-primary panera">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarProductoalm()">Nuevo</button>
                </div>
            </div>
            <br />
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tipo Entrada Salida</th>
                            <th>Tipo</th>
                            <th>Nro Pedido</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Entrada</td>
                            <td>001</td>
                            <td>001</td>
                            <td>10/10/2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>