<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>                 
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Usuario :</label>
                        <input type="text" class="form-control"	id="usuario" name="usuario" placeholder="Usuario" maxlength="50" />   
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nombre :</label>
                        <input type="text" class="form-control"	id="nombre" name="nombre" placeholder="Nombre" maxlength="50" />   
                    </div>            
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Apellido :</label>
                        <input type="text" class="form-control"	id="apellido" name="apellido" placeholder="Apellido" maxlength="50" />   
                    </div>    
                </div>                    
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Contraseña :</label>
                            <input type="text" class="form-control"	id="contraceña" name="contraceña" placeholder="Contraceña" maxlength="50" />   
                        </div>
                    </div>                   
                </div>
                    <br /> 
        
                    <div class="card">
                        <div class="card-header panera">
                            <h4>Usuario Detalle <a href="#" class="btn bg-light" data-toggle="modal" data-target="#myModal">Agregar</a></h4>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Perfil</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Perfil 1</td>
                                        <td>Activo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                      </div>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
          
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Detalle</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
            
                        <!-- Modal body -->
                        <div class="modal-body">
                              
                                        
                                            <div class="form-group">
                                                <label>Perfil :</label>
                                                <input type="text" class="form-control"	id="perfil" name="perfil" placeholder="Perfil" maxlength="50" />      
                                            </div>
                                        
                                        
                                                <div class="form-group">
                                                    <label>Estado :</label>
                                                    <input type="checkbox" class="form-control"	id="perfil" name="perfil" placeholder="Perfil" maxlength="50" />      
                                                </div>                      
                                    
                        </div>
            
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Agregar</button>
                        </div>
            
                    </div>
                </div>
            </div>
      
            <div class="row">
                <div class="col-sm-12">
                    <div class="float-right">
                    <button type="button" class="btn btn-primary panera">Registrar</button>&nbsp;
                    <button type="button" class="btn btn-secondary " (click)="cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>