
.row{
    width:100%;
    height:100%;
    margin:0;
}
.fondo_1{
    background: rgb(76,57,39);
    background: linear-gradient(309deg, rgba(76,57,39,1) 0%, rgba(179,93,33,1) 94%);
    height: 100%;
    width: 100%;
    padding:0;
    .img_1{
        margin:0 auto;
        width:42%;
        margin-top:30%;
        display: block;
    }
}

.fondo_2{
    background-image: url('/assets/img/fondo_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: unset;
    height: 100%;
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
}

.txt-copy{  
    margin: 0 auto;
    display: block;
    color:#fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding:1.5%;
    font-size:15px;
    font-family: 'Gill Sans MT Condensed';
    text-align: center;
    margin-top:21%;
}

.form-login-p{
    display: block;
    justify-content: center;
    align-items: center;
    .content-login{
        background: linear-gradient(309deg, rgba(76,57,39,1) 0%, rgba(179,93,33,1) 94%);
        border-radius:45px;
        // width:120%;
        // height:87.5%;
        padding:1%;
        // margin-top:20%;
        padding-top:1.5%;
        // padding-bottom:22%;
        .form-login{
            // border:5px solid #b35d21;
            background-color:#fff;
            border-radius: 40px;
            padding: 11%;
            display: block;
            .logo_1{
                width:45%;
                margin:0 auto;
                display: block;
                padding-top:5%;
            }
            .lbl-mat{
                img{
                    width: 6%;
                    float:right;
                    margin-bottom: -36px;
                    margin-top:10px;
                }
                .icon-pass{
                    width:5%;
                    margin-right:1%;
                }
                label{
                    margin-left: 13px;
                    color:#b35d21;               
                    font-size: 25px;
                    font-family: 'Gill Sans MT Condensed';
                }
                input[type="text"]{
                   border-bottom:1px solid #b35d21;     
                }
            }
            .btn-inicio{
                font-family: 'Gill Sans MT Condensed';
                border-radius: 15px 15px 15px 15px;
                color:#fff;
                background-color: #b35d21;
                border:none;
                font-size:25px;
                padding:0px 22px 0px 22px;
                margin: 0 auto;
                display: block;
                width:110px;
                // height:25px;
                // line-height: 0px;
            }
            .link-inicio{
                font-family: 'Gill Sans MT Condensed';
                font-size:25px;
                text-decoration: none;
                color:#b35d21;
                text-align:center;
                margin:0 auto;
                display: block;
            }
        }
    
    }
}

.help{
    position: absolute;
    top:5%;  
    right:5%;
    
    p{
        display: inline;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Cocogoose';
        color:#b35d21;
    }
    
    p:nth-child(2){
        font-size: 17px;
        display: inline;
        border: 3px solid #b35d21;
        border-radius: 100%;
        padding: 0px 6px 0px 6px;
        font-weight: bold;
    }
}

@media screen and (max-height: 900px) {
    
}