<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="row">
    <div class="col-sm-6 fondo_1">
        <img class="img_1" src="../assets/img/logo_1.png">
        <footer>
            <p class="txt-copy">Todos los derechos reservados © 2019 La Panera Factory</p>
        </footer>
    </div>
    <div class="col-sm-6 fondo_2">
        <div class="form-group help">
            <p>AYUDA</p>&nbsp;&nbsp;&nbsp;<p>?</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 form-login-p">
                    <div class="content-login">
                        <form class="form-login" #login="ngForm" (ngSubmit)="loginUsuario(login)">
                            <img src="../assets/img/logo_2.png" class="logo_1">
                            <br>
                            <div class="form-group">
                                <div class="input-field col-sm-12 lbl-mat">
                                    <img src="../assets/img/user_icon.png">
                                    <input id="user" type="text" class="validate" name="usuario" ngModel>
                                    <label for="user">Usuario</label>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="input-field col-sm-12 lbl-mat">
                                    <img src="../assets/img/pass_icon.png" class="icon-pass">
                                    <input id="pass" type="password" class="validate" name="contrasena" ngModel>
                                    <label for="pass">Password</label>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <button class="btn btn-inicio" type="submit">Ingresar</button>
                            </div>
                            <div class="form-group">
                                <a href="#" class="link-inicio">¿Se te olvidó la contraseña?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

