<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>            
            <div class="row">
                <div class="col-lg-12">
                    <span>Pedido</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Codigo :</label>
                            <input type="text" class="form-control"	id="codigo" name="codigo" placeholder="Codigo" maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tienda :</label>
                        <select id="cmbTienda" name="cmbTienda" class="form-control">
                            <option>Gelatos</option>
                            <option>Gelatos</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Estado :</label>
                            <select id="cmbEstado" name="cmbEstado" class="form-control">
                                    <option>Activo</option>
                                    <option>Inactivo</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4 align-items-right">
                    <button type="button" class="btn btn-primary panera">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarPedido()">Nuevo</button>
                </div>
            </div>
            <br />
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Codigo</th>
                            <th>Tienda</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>001</td>
                            <td>Breña</td>
                            <td>Activo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>