<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>                 
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tipo :</label>
                        <select id="cmbtipo" name="cmbtipo" class="form-control">
                                <option>Tipo 1</option>
                                <option>Tipo 2</option>
                        </select>     
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Proveedor :</label>
                        <select id="cmbproveedor" name="cmbproveedor" class="form-control">
                                <option>Proveedor 1</option>
                                <option>Proveedor 2</option>
                        </select> 
                    </div>            
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Condicion de Pago :</label>
                        <select id="cmbCondpago" name="cmbCondpago" class="form-control">
                                <option>Condicion de Pago 1</option>
                                <option>Condicion de Pago 2</option>
                        </select> 
                    </div>    
                </div>                    
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nro de Serie :</label>
                            <input type="text" class="form-control"	id="nroSerie" name="nroSerie" placeholder="Nro. Serie" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Tipo Documento :</label>
                            <select id="cmbTipdoc" name="cmbTipdoc" class="form-control">
                                    <option>DNI</option>
                                    <option>RUC</option>
                            </select>
                        </div>            
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nro Ducumento :</label>
                            <input type="text" class="form-control"	id="nrodoc" name="nrodoc" placeholder="Nro. Ducumento" maxlength="50" />
                        </div>    
                    </div>                    
                </div>
                <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fecha Emision :</label>
                                <input type="text" class="form-control"	id="fec_emi" name="fec_emi" placeholder="Fecha Emision" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fecha Cancelacion :</label>
                                <input type="text" class="form-control"	id="fec_can" name="fec_can" placeholder="Fecha Cancelacion" maxlength="50" />
                            </div>            
                        </div>                  
                    </div>
                    <br /> 
                <div class="card">
                    <div class="card-header panera">
                        <h4>Compra Detalle <a href="#" class="btn bg-light" data-toggle="modal" data-target="#myModal">Agregar</a></h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tipo Categoria Insumo</th>
                                    <th>Categoria Insumo</th>
                                    <th>Marca</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>001</td>
                                    <td>Helados</td>
                                    <td>Gelatos</td>
                                    <td>4500</td>
                                    <td>100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                  </div>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
          
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Detalle</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
            
                        <!-- Modal body -->
                        <div class="modal-body">
                              
                                        
                                            <div class="form-group">
                                                <label>Tipo Categoria insumo:</label>
                                                <select id="cmbtipocati" name="cmbtipocati" class="form-control">
                                                        <option>Tipo 1</option>
                                                        <option>Tipo 2</option>
                                                </select>    
                                            </div>
                                        
                                        
                                                <div class="form-group">
                                                    <label>Categoria insumo :</label>
                                                    <select id="cmbtipocati" name="cmbtipocati" class="form-control">
                                                            <option>Categoria 1</option>
                                                            <option>Categoria 2</option>
                                                    </select>     
                                                </div>            
                                        
                                        
                                                <div class="form-group">
                                                    <label>Marca :</label>
                                                    <select id="cmbtipocati" name="cmbtipocati" class="form-control">
                                                            <option>Marca 1</option>
                                                            <option>Marca 2</option>
                                                    </select>     
                                                </div>            
                                        
                                        
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Precio :</label>
                                                        <input type="number" class="form-control"	id="precio" name="precio" placeholder="Precio" maxlength="50" />
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label>Cantidad :</label>
                                                        <input type="number" class="form-control"	id="cantidad" name="cantidad" placeholder="Cantidad" maxlength="50" />
                                                    </div>            
                                                </div>              
                                    
                        </div>
            
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Agregar</button>
                        </div>
            
                    </div>
                </div>
            </div>
      
            <div class="row">
                <div class="col-sm-12">
                    <div class="float-right">
                    <button type="button" class="btn btn-primary panera">Registrar</button>&nbsp;
                    <button type="button" class="btn btn-secondary " (click)="cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>