<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>            
            <div class="row">
                <div class="col-lg-12">
                    <span>Compras</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Proveedor :</label>
                            <select id="cmbProveedor" name="cmbProveedor" class="form-control">
                                <option>Gelatos</option>
                                <option>Gelatos</option>
                            </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Nro. Serie :</label>
                            <input type="text" class="form-control"	id="nroSerie" name="nroSerie" placeholder="Nro. Serie" maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Tipo de documento :</label>
                            <select id="cmbTipo de documento" name="cmbTipo de documento" class="form-control">
                                    <option>RUC</option>
                                    <option>DNI</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                                <label>Nro. de Documento :</label>
                                <input type="text" class="form-control"	id="nrodeDocumento" name="nrodeDocumento" placeholder="Nro. de Documento" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                                <label>Fecha de Emisión :</label>
                                <input type="date" class="form-control"	id="FechadeEmisión" name="FechadeEmisión" placeholder="Fecha de Emisión" maxlength="50" />
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4 align-items-right">
                    <button type="button" class="btn btn-primary panera">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarCompra()">Nuevo</button>
                </div>
            </div>
            <br />
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Proveedor</th>
                            <th>Nro Serie</th>
                            <th>Tipo Documento</th>
                            <th>Nro Documento</th>
                            <th>Fecha Emision</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Gelatos</td>
                            <td>654789</td>
                            <td>RUC</td>
                            <td>1078965423</td>
                            <td>10/10/19</td>
                            <td>Activo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>