<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>                 
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tipo Entra/Salida :</label>
                        <select id="cmbTipo de Categoría" name="cmbTipo de Categoría" class="form-control">
                                <option>Tipo 1</option>
                                <option>Tipo 2</option>
                        </select>     
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tipo :</label>
                        <select id="cmbCategoría" name="cmbCategoría" class="form-control">
                                <option>Tipo 1</option>
                                <option>Tipo 2</option>
                        </select> 
                    </div>            
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nro Pedido :</label>
                            <input type="text" class="form-control"	id="nropedido" name="nropedido" placeholder="Nro Pedido" maxlength="50" />
                    </div>    
                </div>                    
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Observacion :</label>
                            <input type="text" class="form-control"	id="observacion" name="observacion" placeholder="Observacion" maxlength="50" />
                        </div>
                    </div>               
                </div>
                    <br /> 
                    <div class="card">
                        <div class="card-header panera">
                            <h4>Producto Detalle <a href="#" class="btn bg-light" data-toggle="modal" data-target="#myModal">Agregar</a></h4>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tipo Categoria Producto</th>
                                        <th>Categoria Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Helados</td>
                                        <td>Gelatos</td>
                                        <td>4500</td>
                                        <td>100</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                      </div>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
          
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Detalle</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
            
                        <!-- Modal body -->
                        <div class="modal-body">
                              
                                        
                                            <div class="form-group">
                                                <label>Tipo Categoria Producto :</label>
                                                <select id="cmbtipocati" name="cmbtipocati" class="form-control">
                                                        <option>Tipo 1</option>
                                                        <option>Tipo 2</option>
                                                </select>    
                                            </div>
                                        
                                        
                                                <div class="form-group">
                                                    <label>Categoria Producto :</label>
                                                    <select id="cmbtipocati" name="cmbtipocati" class="form-control">
                                                            <option>Categoria 1</option>
                                                            <option>Categoria 2</option>
                                                    </select>     
                                                </div>            
                                        
                                        
                                                <div class="form-group">
                                                    <label>Cantidad :</label>
                                                    <input type="number" class="form-control"	id="cantidad" name="cantidad" placeholder="Precio" maxlength="50" />   
                                                </div>            
                                        
                                        
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Precio :</label>
                                                        <input type="number" class="form-control"	id="precio" name="precio" placeholder="Precio" maxlength="50" />
                                                    </div>          
                                                </div>              
                                    
                        </div>
            
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Agregar</button>
                        </div>
            
                    </div>
                </div>
            </div>
      
            <div class="row">
                <div class="col-sm-12">
                    <div class="float-right">
                    <button type="button" class="btn btn-primary panera">Registrar</button>&nbsp;
                    <button type="button" class="btn btn-secondary " (click)="cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>