<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>                 
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nombre :</label>
                        <input type="text" class="form-control"	id="Nombre" name="Nombre" placeholder="Nombre" maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Descripcion :</label>
                        <input type="text" class="form-control"	id="Descripcion" name="Descripcion" placeholder="Descripcion" maxlength="50" />
                    </div>            
                </div>                   
            </div>
                    <br /> 
                    <div class="card">
                        <div class="card-header panera">
                            <h4>Perfil Detalle <a href="#" class="btn bg-light" data-toggle="modal" data-target="#myModal">Agregar</a></h4>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Permiso</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Perfil 1</td>
                                        <td>Activo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                      </div>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
          
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Detalle</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
            
                        <!-- Modal body -->
                        <div class="modal-body">
                              
                                        
                                            <div class="form-group">
                                                <label>Permiso :</label>
                                                <input type="text" class="form-control"	id="permiso" name="permiso" placeholder="Premiso" maxlength="50" /> 
                                            </div>
                                        
                                        
                                                <div class="form-group">
                                                    <label>Estado :</label>
                                                    <input type="checkbox" class="form-control"	id="estado" name="estado" placeholder="Estado" maxlength="50" />  
                                                </div>             
                                    
                        </div>
            
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Agregar</button>
                        </div>
            
                    </div>
                </div>
            </div>
      
            <div class="row">
                <div class="col-sm-12">
                    <div class="float-right">
                    <button type="button" class="btn btn-primary panera">Registrar</button>&nbsp;
                    <button type="button" class="btn btn-secondary " (click)="cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>