<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>                 
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nombre :</label>
                        <input type="text" class="form-control"	id="Nombre" name="Nombre" placeholder="Nombre" maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Descripción :</label>
                        <input type="text" class="form-control"	id="Descripción" name="Descripción" placeholder="Descripción" maxlength="50" />
                    </div>            
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Unidad Medida :</label>
                        <select id="cmbUnidad Medida" name="cmbUnidad Medida" class="form-control">
                            <option>Medida 1</option>
                            <option>Medida 2</option>
                        </select>
                    </div>    
                </div>                    
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Cantidad Mínima :</label>
                            <input type="number" class="form-control"	id="Cantidad Mínima" name="Cantidad Mínima" placeholder="Cantidad Mínima" maxlength="50" />
                        </div>
                    </div>        
                </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary">Registrar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</section>