<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>            
            <div class="row">
                <div class="col-lg-12">
                    <span>Almacen Intermedio</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Tipo Entrada/Salida :</label>
                            <select id="cmbTipo Entrada/Salida" name="cmbTipo Entrada/Salida" class="form-control">
                                <option>Entrada</option>
                                <option>Salida</option>
                            </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tipo:</label>
                        <select id="cmbTipo" name="cmbTipo" class="form-control">
                            <option>Entrada</option>
                            <option>Salida</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nro. de Pedido :</label>
                        <input type="text" class="form-control"	id=">Nro. de Pedido" name="Nro. de Pedido" placeholder=">Nro. de Pedido" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4 align-items-right">
                    <button type="button" class="btn btn-primary panera">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarAlmacenint()">Nuevo</button>
                </div>
            </div>
            <br />
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tipo Entrada/Salida</th>
                            <th>Tipo</th>
                            <th>Nro de Pedido</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Entrada</td>
                            <td>654789</td>
                            <td>1078965423</td>
                            <td>10/10/19</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>