<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row title-form">
                <div class="col-sm-12">
                    Perfiles
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Perfil :</label>
                        <input type="text" class="form-control"	id="perfil" name="perfil" placeholder="Nombre Perfil" maxlength="50" />
                    </div>
                </div> 
                <div class="col-sm-4">

                </div>               
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarPerfil()">Nuevo</button>
                </div>                
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Perfil</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Administrador</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</section>