<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>            
            <div class="row">
                <div class="col-lg-12">
                    <span>Producto</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Tipo Categoría :</label>
                            <select id="cmbTipo Categoría" name="cmbTipo Categoría  " class="form-control">
                                <option>Gelatos</option>
                                <option>Gelatos</option>
                            </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Categoría :</label>
                        <select id="cmbCategoría" name="cmbCategoría  " class="form-control">
                            <option>Gelatos</option>
                            <option>Gelatos</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Familia :</label>
                            <select id="cmbFamilia" name="cmbFamilia" class="form-control">
                                    <option>RUC</option>
                                    <option>DNI</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>SubFamilia :</label>
                            <select id="cmbSubFamilia" name="cmbSubFamilia" class="form-control">
                                    <option>RUC</option>
                                    <option>DNI</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                                <label>Nombre :</label>
                                <input type="text" class="form-control"	id="Nombre" name="Nombre" placeholder="Nombre" maxlength="50" />
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4 align-items-right">
                    <button type="button" class="btn btn-primary panera">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarProducto()">Nuevo</button>
                </div>
            </div>
            <br />
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tipo de Categoría</th>
                            <th>Categoría</th>
                            <th>Tipo Documento</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Gelatos</td>
                            <td>654789</td>
                            <td>RUC</td>
                            <td>1078965423</td>
                            <td>Activo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>