<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>            
            <div class="row">
                <div class="col-lg-12">
                    <span>Devolucion</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Codigo :</label>
                            <input type="text" class="form-control"	id="codigo" name="codigo" placeholder="Codigo" maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tienda :</label>
                        <select id="cmbTienda" name="cmbTienda" class="form-control">
                            <option>Gelatos</option>
                            <option>Gelatos</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                            <label>Nro Pedido :</label>
                            <input type="text" class="form-control"	id="nropedido" name="nropedido" placeholder="Nro Pedido" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4 align-items-right">
                    <button type="button" class="btn btn-primary panera">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarDevolucion()">Nuevo</button>
                </div>
            </div>
            <br />
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Codigo</th>
                            <th>Tienda</th>
                            <th>Nro Pedido</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Gelatos</td>
                            <td>654789</td>
                            <td>RUC</td>
                            <td>1078965423</td>
                            <td>Activo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>