/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'CocoGoose';
    src: url(assets/fonts/Cocogoose_Pro_Light_trial.ttf) format('truetype'),
         url(assets/fonts/Cocogoose_Pro_Semilight_trial.ttf) format('truetype');
}

html{
    width:100%;
    height: 100%;
}

body{
    width:100%;
    height:100%;
}
