html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
.fullscreen {
    width: 100%;
    height: 100%;
}
.header{
	color: #fff;
	background: #b35d21;
	  height: 50px;
	  width: 100%;
	  position: relative;
	  z-index:100;
	  -webkit-box-shadow: 0px 0px 2px 0px rgba(153,153,153,1);
	  -moz-box-shadow: 0px 0px 2px 0px rgba(153,153,153,1);
	box-shadow: 0px 0px 2px 0px rgba(153,153,153,1);  
  }
section .btn-show {
	display: block;
	width: 60px;
	height: 50px;
	//border-right: 1px solid #eaedf0;
	margin-left: 15px;
	margin-top: 10px;
	//background: url('/assets/img/toogle.png') 1px -60px no-repeat;
	cursor: pointer;
}
.header .corporativo{
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom:1;
}
.header .corporativo .logo-app {
	margin-left: 15px;
	margin-top: 10px;
	width: 150px;
	height: 60px;
	background: url('/assets/img/logo-monit.png') no-repeat;
}
.comp-btn-user .btn{
	background: #f8f8f8;
	height: 45px;
	border: none;
}
.comp-btn-user .btn:active{
	border: none;
}
.comp-btn-user .btn:hover{
	border:none;
}
.comp-btn-user .btn:BEFORE{
	background: #f8f8f8;
	/*color:#ededed;*/
}
.comp-btn-user .btn .name{
	color:#363a44;
}


/* Menu */
section.menu {
  background-color: rgba(76, 57, 39, 0.65);
  width: 270px;
  display: block;
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 0px;
  z-index: 90;
}
.text-menu{
	color: #fff;
	font-size:15px;
}
.btn-menu{
	margin-top: 0px;
	margin-left: 15px;
}
.img_3 {
    margin: 0 auto;
    width: 15%;
    margin-top: 10%;
    display: block;
  }

nav.nav {
	display: block;
	//border-top: 1px solid #ccc;
}
ul.nav-wrap {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
ul.nav-wrap li.nav-01 {
	padding: 0px;
	margin: 0px;
}
ul.nav-wrap li.nav-01 span.list-collapse {
	display: block;
	padding: 15px 20px 15px 50px;
	color: #ddd;
	position: relative;
	cursor: pointer;
	font-size: 13px;
	//border-bottom: 1px solid #ccc;
}
ul.nav-wrap li.nav-01 span.list-collapse:hover {
	color: #fff;
}

ul.nav-wrap li.nav-01 span.list-collapse:before {
	content: '';
	display: block;
	width: 3px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: #fff;
}

ul.nav-wrap li.nav-01 span.list-collapse:hover:before {
	background: #fff;
}

ul.nav-wrap li.nav-01 span.list-collapse.active {
	color: #fff;
}

ul.nav-wrap li.nav-01 span.list-collapse.active:before {
	background: #fff;
}

ul.nav-wrap li.nav-01 span.list-collapse i.ico-collapse {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 14px;
	right: 12px;
	background: url(/assets/img/icons/arrow-down.png)no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse.active i.ico-collapse {
	background: url('/assets/img/icons/arrow-down.png')no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse i.ico {
	width: 34px;
    height: 34px;
    position: absolute;
    top: 8px;
    left: 14px;
    background: green;
}


ul.nav-wrap li.nav-01 span.list-collapse i.ico.home {
    background: url('/assets/img/sprite.png') -13px -972px no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse:hover i.ico.home {
	background: url('/assets/img/sprite.png') -13px -1032px no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse.active i.ico.home {
	background: url('/assets/img/sprite.png') -13px -1032px no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse i.ico.notificaciones {
    background: url('/assets/img/sprite.png') -13px -1090px no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse:hover i.ico.notificaciones {
	background: url('/assets/img/sprite.png') -13px -1150px no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse.active i.ico.notificaciones {
	background: url('/assets/img/sprite.png') -13px -1150px no-repeat;
}


ul.nav-wrap li.nav-01 span.list-collapse i.ico.sistema {
    background: url('/assets/img/sprite.png') -13px -1212px no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse:hover i.ico.sistema {
	background: url('/assets/imgs/sprite.png') -13px -1272px no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse.active i.ico.sistema {
	background: url('/assets/img/sprite.png') -13px -1272px no-repeat;
}


ul.nav-wrap li.nav-01 span.list-collapse i.ico.configuracion {
    background: url('/assets/img/sprite.png') -13px -1332px  no-repeat;
}

ul.nav-wrap li.nav-01 span.list-collapse:hover i.ico.configuracion {
	background: url('/assets/img/sprite.png') -13px -1392px no-repeat;
}


ul.nav-wrap li.nav-01 span.list-collapse.active i.ico.configuracion {
	background: url('/assets/img/sprite.png') -13px -1392px no-repeat;
}

ul.nav-wrap li.nav-01 ul.nav-collapse {
	display: none;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	position: relative;
}

ul.nav-wrap li.nav-01 ul.nav-collapse:before {
	content: '';
	display: block;
	width: 3px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: #e45f60;
}

ul.nav-wrap li.nav-01 ul.nav-collapse li.nav-02 a {
	padding: 15px 20px 15px 60px;
    display: block;
    color: #c6c6c6;
    position: relative;
    font-size: 13px;
    border-bottom: 1px solid #fff;
    background: #C184C7;
}

ul.nav-wrap li.nav-01 ul.nav-collapse li.nav-02 a:hover {
	display: block;
	color: #fff;
}

ul.nav-wrap li.nav-01 ul.nav-collapse li.nav-02 a:before {
	content: '';
	width: 18px;
	height: 18px;
	position: absolute;
	top: 20px;
	left: 20px;
	background: url(/assets/img/sprite.png) -21px -739px no-repeat;
}
ul.nav-wrap li.nav-01 ul.nav-collapse li.nav-02 a:hover:before {
	background: url(/assets/img/sprite.png) -21px -799px no-repeat;
}

/********/
.collapse { 
	visibility: hidden;
	
}
.collapse.show {
	visibility: visible; 
	display: block;
}

.collapsing.width {  
	-webkit-transition-property: width, visibility;
	transition-property: width, visibility;
	width: 0;
	height: auto;
}

/* Principal  */
.wrap-content {
  background-image: url("/assets/img/fondo_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50px;
  /*left: 220px;*/
  left: 0px;
  right: 0px;
  bottom: 40px;
  /*z-index: 100;*/
  -webkit-box-shadow: -7px 0px 32px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px 0px 32px -7px rgba(0,0,0,0.75);
  box-shadow: -7px 0px 32px -7px rgba(0,0,0,0.75);
}
.pull-main-content{
  overflow: auto;
  height: 100%;
  margin-left: 0px;
  bottom: 100px;
}
.iframe-main-content{
  width:100%;
  margin: 0px;
	border: 0px;
	height: 98%;
	overflow:hidden;
}
.pull-main-content .scroll-contenido{
  background:#fff;
  position:relative;
  width:100%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
  margin-bottom: -50px;
}
.pull-main-content .content-body {
  padding: 0px;
  min-height: 500px;
  height:100%;
}

/* Footer */
.footer{
  background: #b35d21;
  height: 40px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	//background: #262626;
	z-index: 150;
  font-size: 12px;
  font-family: "Gill Sans MT Condensed";
  text-align: center;
}
.footer .copyright {
	padding: 15px 0px 0px 15px;
}

.footer .copyright span {
	color: #fff;
}

/* Fixed sidenav, full height */
.sidenav {
	height: 100%;
	width: 270px;
	margin-top: 35px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(76, 57, 39, 0.65);
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
	padding: 15px 8px 17px 14px;
	text-decoration: none;
	color: #fff;
	font-size:15px;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
  }
  
  /* Main content */
  .main {
	margin-left: 200px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
	// background-color: green;
	color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
	float: right;
	padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  .icon-menu{
	  width:35px;
	  margin-right:8px;
  }
  
  .fa-caret-down{
	padding-top: 9px;
  }