<header class="header">
    <div class="btn-menu">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#demo" onclick="prueb();"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            <span><img src="assets/img/toogle.png" width="30" height="30" /></span>
        </button>
    </div>
</header>
<div class="collapse width" id="demo" [ngbCollapse]="!isCollapsed">
    <section class="menu">
        <div class="sidenav">
            <button class="dropdown-btn"><img class="icon-menu"
                    src="../../assets/img/iconos/Modulo de administración y maestros.png"> Módulo Adm. y Maestros
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/admusu" target="iframe-main-content">Adm Usuario</a>
                <a href="/seguridad/perfil" target="iframe-main-content">Adm Perfil</a>
            </div>
            <button class="dropdown-btn"><img class="icon-menu" src="../../assets/img/iconos/Modulo de compras.png">
                Módulo de Compras
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/producto" target="iframe-main-content"> Productos</a>
                <a href="/insumos" target="iframe-main-content">Insumos</a>
            </div>
            <button class="dropdown-btn"><img class="icon-menu"
                    src="../../assets/img/iconos/Modulo de almacen de materia prima.png"> Módulo de Almacen
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/insumosalm" target="iframe-main-content">Insumo Almacen</a>
                <a href="/productoalm" target="iframe-main-content">Producto Almacen</a>
            </div>
            <button class="dropdown-btn"><img class="icon-menu" src="../../assets/img/iconos/Modulo de Pedidos.png">Módulo de Pedido
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/insumosalm" target="iframe-main-content">Insumo Almacen</a>
                <a href="/productoalm" target="iframe-main-content">Producto Almacen</a>
                <a href="/despacho" target="iframe-main-content">Despacho</a>
                <a href="/devolucion" target="iframe-main-content">Devolucion</a>
            </div>
            <a><img class="icon-menu" src="../../assets/img/iconos/Modulo de recetas.png">Módulo de Recetas</a>
            <a><img class="icon-menu" src="../../assets/img/iconos/Modulo de reporte.png">Módulo de Reportes</a>
        </div>
    </section>
</div>

<section class="wrap-content">
    <!--<img src="../assets/img/logo_3.png" class="img_3">-->
    <div class="pull-main-content">
        <iframe id="iframe-main-content" name="iframe-main-content" class="iframe-main-content"></iframe>
    </div>
    <!--<img src="../assets/img/logo_3.png" class="img_3">-->
    <!--<div class="pull-main-content"  >
		<div class="main-content view-wrap">
			
	    </div>
    </div>-->
</section>
<footer class="footer">
    <div class="copyright">
        <span>Todos los derechos reservados © 2019 La Panera Factory</span>
    </div>
</footer>